.container-banner-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
}

.banner-segundo {
    background-image: url("/assets/img/bg-curve-desktop.svg");
    width: 80vw;
    margin-top: 10em;
}

.container-banner-segundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    margin-top: 5em;
}

.banner-segundo-titulo {
    margin-bottom: 2em;
    font-weight: bold;
    text-align: center;
}

.banner-segundo-paragrafo {
    margin-bottom: 1.5em;
    font-size: 14px;
    color: var(--cor-cinza-medio);
    line-height: 1.5em;
}

.banner-segundo-botao {
    border-bottom: 1px solid var(--cor-verde);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
    background-color: transparent;
    color: var(--cor-verde);
    text-align: center;
    width: max-content;
}

.container-borda {
    width: 60vw;
    border: 1px solid var(--cor-branco);
    background-color: var(--cor-branco);
    padding: 1.7em;
    margin-top: 3em;
}

.borda-paragrafo {
    font-size: 10px;
    line-height: 1.7em;
}

.container-borda-perfil {
    display: flex;
    flex-direction: row;
}

.foto-perfil {
    border-radius: 50%;
    width: 1.5rem;
    margin-right: .5em;
}

.nome-perfil {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: .5em;
}

.descricao-perfil {
    font-size: 9px;
}