@media screen and (min-width: 1440px) {
.container-item {
        padding: 6em;
    }

    /*Cabeçalho*/    
    .cabecalho-logo {
        width: 12rem;
    }
    
    .cabecalho-lista {
        column-gap: 4em;
    }
    
    .cabecalho-item-lista {
        font-size: 20px;
    }

    /*Banner / Formulário*/
    .container-banner-formulario {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 6em;
    }

    .banner {
        padding-top: 3em;
    }

    .banner, .container-formulario, .banner-titulo, .banner-paragrafo {
        width: 40vw;
    }

    .banner-titulo {
        font-size: 40px;
        line-height: 1.5em;
        text-align: start;
    }

    .banner-paragrafo {
        font-size: 18px;
        line-height: 1.5em;
        text-align: start;
        margin: 1.5em 0;
    }

    .container-email-button {
        display: flex;
        flex-direction: row;
        column-gap: 1em;
    }

    .banner-input {
        width: 20vw;
        height: 5vh;
        margin: 0;
        border-radius: 0;
    }

    .banner-botao {
        width: 15vw;
        height: 5vh;
        margin: 0;
        border-radius: 0;
    }

    /*Banner / Texto*/ 
    .container-banner-texto {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 6em;
        margin: 10em 0;
    }

    .banner-segundo {
        width: 40vw;
        margin: 0;
    }

    .container-banner-segundo {
        align-items: start;
        width: 45vw;
        margin: 0;
    }

    .banner-segundo-titulo {
        font-size: 40px;
        text-align: start;
        margin-bottom: 1em;
    }

    .banner-segundo-paragrafo {
        font-size: 18px;
        width: 40vw;
        text-align: start;
    }

    .banner-segundo-botao {
        font-size: 18px;
    }

    .container-borda {
        width: 20vw;
        height: 20vh;
    }

    .borda-paragrafo {
        font-size: 14px;
    }

    .banner-segundo-titulo {
        font-size: 40px;
        text-align: start;
        margin-bottom: 1em;
    }

    .banner-segundo-paragrafo {
        font-size: 18px;
        width: 42vw;
        text-align: start;
    }

    .foto-perfil {
        width: 2rem;
    }

    .nome-perfil {
        font-size: 14px;
    }    

    .descricao-perfil {
        font-size: 11px;
    }

    /*Banner cinza*/
    .banner-cinza {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: start;
        padding: 6em;
    }

    .banner-cinza-div {
        width: 40vw;
    }

    .banner-cinza-titulo {
        font-size: 32px;
    }

    .banner-cinza-paragrafo {
        font-size: 18px;
        line-height: 1.8em;
        text-align: start;
        margin-bottom: 0;
    }

    .banner-cinza-input {
        font-size: 14px;
        width: 35vw;
        height: 5.5vh;
    }

    .banner-cinza-botao {
        width: 15vw;
        height: 5.5vh;
        font-size: 14px;
    }

    /*Banner azul*/ 
    
}
