.cabecalho {
    background-color: var(--cor-cinza-claro);
    text-align: center;
}

.container-item {
    padding: 1.5em;
}

.cabecalho-logo {
    width: 5rem;
    padding: 2em;
}

#menuhamburger {
    display: block;
    background-color: var(--cor-de-fundo);
    cursor: pointer;
    font-size: 30px;
}

#menuhamburger:hover {
    background-color: var( --cor-azul-escuro);
    color: var(--cor-branco);
}

.cabecalho-lista {
    display: none;
}

.cabecalho-link {
    text-decoration: none;
}

.cabecalho-item-lista {
    font-size: 12px;
    color: var(--cor-azul-escuro);
    padding: 1em;
    border-bottom: 1px solid var(--cor-azul-escuro);
    background-color: var(--cor-de-fundo);
}