@import url("header.css");
@import url("banner.css");
@import url("banner-segundo.css");
@import url("banner-cinza.css");
@import url("banner-azul.css");
@import url("desktop.css");

:root {
    --cor-de-fundo: hsl(240, 75%, 98%);
    --fonte-principal: "Open Sans";
    --fonte-secundaria: "Raleway";
    --cor-azul-escuro: hsl(243, 87%, 12%);
    --cor-cinza-claro: hsl(0, 0%, 75%);
    --cor-cinza-medio: hsl(0, 0%, 40%);
    --cor-azul-claro: hsl(224, 93%, 58%);
    --cor-azul-claro-opaco: hsl(224, 67%, 62%);
    --cor-verde: hsl(165, 75%, 44%);
    --cor-branco: hsl(0, 0%, 100%);
    --cor-cinza-escuro: hsl(238, 22%, 44%);
}

body {
    font-size: 16px;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
}